/* YourComponent.css */

.custom-scrollbar {
  overflow-y: auto;
  scrollbar-width: thin;  /* Firefox */
  scrollbar-color: transparent transparent;  /* Firefox */

  &::-webkit-scrollbar {
    width: 8px;  /* Set the width of the scrollbar */
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;  /* Set the color of the thumb (scrollbar handle) */
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;  /* Set the color of the track (the area behind the thumb) */
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #999;  /* Set the color of the thumb on hover */
    }

    &::-webkit-scrollbar-track {
      background-color: #f0f0f0;  /* Set the color of the track on hover */
    }
  }
}
